.Address
{
   text-align: center;
   border-bottom: 1px solid black;
}

.select-d-a
{
    padding-top: 20px;
    padding-left: 300px;
}

.main-Address-div
{
    display: flex;
    justify-content:center;
    padding-top: 5px;

}


.Address-user
{
    height: 200px;
    width: 520px;
    background-color: rgba(255, 255, 255, 0.849);
    border: 1px solid rgba(0, 0, 0, 0.281);
    margin-right: 40px;
}

.border-said
{
   
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: 2px dotted black ;
}

.border-cover
{
    padding-left: 100px;
    padding-top: 30px;
    
}
.order-11
{
    display:flex;
    justify-content: space-around;
    border-bottom: 2px dotted black;
    padding-top: 20px;
}
.cart-22
{
    height: 200px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.541);
    border: 1px solid rgba(0, 0, 0, 0.24);
}
.button-to-address
{
    padding-left: 150px;
    padding-top: 20px;
}
.last-cart
{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}