.img
{
    background-image: url("/src/images/img5.jpg");
    height:700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.inin
{
    
     text-align: center;
     border: 2px solid rgb(212, 201, 201);
     width: 400px;
     height: 400px;
     padding-top: 30px;
     background-color: rgba(34, 34, 29, 0.527);
     border-radius: 20px 20px 20px 20px ;
    
         
}