.slider-main-div
{
  background-color: #251e1ed8;
}
.slider-container {
    position: relative;
    width: 100%;    
    height: 90vh;   
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;          
    height: 100%;        
    object-fit: cover;  
  }
  
.gm-logo
{
  height:100px;
  width: 100px;
}

.marquee-images img {
  width: 80px;
  height:80px;
  border-radius: 50%; /* Circular images */
  margin-left:30px; 
}

.heading-glow-mart-1
{
  font-size: 30px;
}
.heading-glow-mart-discription
{
  font-size: 20px;
}

  /* Arrows for navigation */
  .left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .slider-container {
      height: 60vh; /* Reduce height for mobile devices */
    }
  }

.navbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.863);
    padding: 10px 2%;
    color: white;
  }
  .glow-mart-heading
  {
    font-size:1.5rem;
    font-weight: bold;
    color: #f8c13d;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 20px;
  }
  .navbar-logo h2 {
    margin: 0;
  }
 
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.1); 
  }
  
  .active-link {
    font-size: 1.2rem; 
    color: yellow;  
  }
  
  .navbar-search {
    display: flex;
    align-items: center;
  }
  
  .navbar-search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
  }
  
  .navbar-search button {
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    margin-right: 50px;
    border-radius: 5px;
  }
  
  .navbar-search button:hover {
    background-color: #777;
  }
  
  
  .mobile-menu-icon {
    display: none;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
 
  @media (max-width: 768px) {
    .navbar-links {
      display: none;      
    }
    .navbar-links:hover
    {
      color: red;
    }
 
    .navbar-links.navbar-links-mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: black;
      width:30%;
      padding: 20px 0;
      margin-top: 20%;
      margin-left:30px;
      gap: 10px;
      z-index: 999;
      padding-left: 10px;
   
    }
  
  
    .navbar-search {
      margin-top: 10px;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  }
  
  @media (min-width: 769px) {
    .navbar-links {
      display: flex;
    }  
  }
